a:active {
	/* potym dadasi što-niebudź */
}

a:hover.MVIDEA {
	text-decoration: none;
	color: gray;
}

a:link {
  text-decoration: none;
  color: #D8D8D8;
  font-weight: normal;
}

a:link.MVIDEA {
	font-weight: normal;
}

a:visited {
    /*color: rgba(4, 0, 144, 1);*/
  text-decoration: none;
  color: #D8D8D8;
}

body {
  background-color: #606060;
  color: #D8D8D8;
  font-family: camria;
  font-size: 20px;
}

/*body {
	background: #fff;
	font-family: "Arial";
	font-size: 20px;
}*/



p.biel {
	color: #999;
}

p.aryg {
  text-align: center;
  margin-top: 5px;
  font-size: 24pt;
  font-family: cambria, arial;
  font-variant: small-caps;
}

p.spiew {
  font-family: "Courier New";
	margin-left: 5%;
  white-space: pre;
  line-height: 1.3;
}

p.title {
  text-align: center;
  font-size: 42pt;
  margin-top: 0px;
  margin-bottom: 5px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-family: cambria, arial;
}

p.subtitle {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
  font-size: 24pt;
  font-family: cambria, arial;
  font-variant: small-caps;
}

p.article {
  text-indent: 1.5em;
  text-align: left;
  /*margin-right: 10%;*/
  font-family: bookman old style, arial;
}

hr {
	color: black;
	/*border: */
}

ul {
	column-count: 2;
	list-style: none;
	column-gap: 30px;
}